@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-primary: #eb3541;
}
